th.hundreds {
  width: 40px;
}
th.thousands {
  width: 70px;
}
th.name {
  width: 140px;
}
th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: rotate(-45deg);
  width: 30px;
}
th.rotate > div > span {
  padding: 5px 10px;
}
